/* html class */
.page{
    position: relative;
    background: url('https://images.pexels.com/photos/262333/pexels-photo-262333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 150px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    overflow: hidden;
}

.page::before{
    content: '';
    width: 250%;
    height: 250%;
    top: -10%;
    left: -10%;
    position: absolute;
    background: url('https://images.pexels.com/photos/262333/pexels-photo-262333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center fixed;
    background-size:cover;
    -webkit-filter: blur(10px) brightness(.7);
    filter: blur(10px) brightness(.7);
    z-index: -1;
}

/* ============================= dots here ============================ */
.dot{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    -webkit-box-shadow: 0 0 5px 2.5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 2.5px rgba(0,0,0,0.5);
}

/* === 1 === */
.face-one .dot,
.face-three .dot:nth-child(2),
.face-five .dot:nth-child(5){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/* === 2 === */
.face-two .dot:nth-child(1),
.face-three .dot:nth-child(1),
.face-four .dot:nth-child(1),
.face-five .dot:nth-child(1),
.face-six .dot:nth-child(1){
    position: absolute;
    top: 20%;
    left: 20%;
    -webkit-transform: translate(-20%,-20%);
    -ms-transform: translate(-20%,-20%);
    transform: translate(-20%,-20%);
}
.face-two .dot:nth-child(2),
.face-three .dot:nth-child(3),
.face-four .dot:nth-child(4),
.face-five .dot:nth-child(4),
.face-six .dot:nth-child(6){
    position: absolute;
    top: 80%;
    left: 80%;
    -webkit-transform: translate(-80%,-80%);
    -ms-transform: translate(-80%,-80%);
    transform: translate(-80%,-80%);
}
/* === 3 === */

/* === 4 === */
.face-four .dot:nth-child(2),
.face-five .dot:nth-child(2),
.face-six .dot:nth-child(3){
    position: absolute;
    top: 20%;
    left: 80%;
    -webkit-transform: translate(-80%,-20%);
    -ms-transform: translate(-80%,-20%);
    transform: translate(-80%,-20%);
}
.face-four .dot:nth-child(3),
.face-five .dot:nth-child(3),
.face-six .dot:nth-child(4){
    position: absolute;
    top: 80%;
    left: 20%;
    -webkit-transform: translate(-20%,-80%);
    -ms-transform: translate(-20%,-80%);
    transform: translate(-20%,-80%);
}
/* === 5 === */

/* === 6 === */
.face-six .dot:nth-child(2){
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%,-20%);
    -ms-transform: translate(-50%,-20%);
    transform: translate(-50%,-20%);
}
.face-six .dot:nth-child(5){
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%,-80%);
    -ms-transform: translate(-50%,-80%);
    transform: translate(-50%,-80%);
}
/* ============================= end dots ============================ */

/* ============================= dice here ============================ */
.bones {
    margin: 80px auto;
    width: 200px;
    height: 200px;
    -webkit-transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: rotation 10s linear infinite;
    animation: rotation 10s linear infinite;
}
@-webkit-keyframes rotation {
    0% { -webkit-transform: rotateY(0deg) rotateX(-180deg) rotateZ(-140deg); transform: rotateY(0deg) rotateX(-180deg) rotateZ(-140deg); }
    50% { -webkit-transform: rotateY(360deg) rotateX(-360deg) rotateZ(00deg); transform: rotateY(360deg) rotateX(-360deg) rotateZ(00deg); }
    100% { -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(220deg); transform: rotateY(360deg) rotateX(180deg) rotateZ(220deg); }

}
@keyframes rotation {
    0% { -webkit-transform: rotateY(0deg) rotateX(-180deg) rotateZ(-140deg); transform: rotateY(0deg) rotateX(-180deg) rotateZ(-140deg); }
    50% { -webkit-transform: rotateY(360deg) rotateX(-360deg) rotateZ(00deg); transform: rotateY(360deg) rotateX(-360deg) rotateZ(00deg); }
    100% { -webkit-transform: rotateY(360deg) rotateX(180deg) rotateZ(220deg); transform: rotateY(360deg) rotateX(180deg) rotateZ(220deg); }

}
.face {
    background: white;
    border: 7px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    position: absolute;
    -webkit-box-shadow: 0 0 50px 1px white;
    box-shadow: 0 0 50px 1px white;
}
.face-one{
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
}
.face-two{
    -webkit-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
}
.face-three{
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
}
.face-four{
    -webkit-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}
.face-five{
    -webkit-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}
.face-six{
    -webkit-transform: rotateX(-90deg) translateZ(100px);
    transform: rotateX(-90deg) translateZ(100px);
}