body{
	background-image: url('../img/galaxy.jpg');
	background-size: cover;

}

.center_galaxy{
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
	box-shadow:0 0 10px #000;
}



.wrap1{
	margin: 0 auto;
	width: 200px;
}

.wrap2{
	margin: 0 auto;
	width: 200px;
}


.wrap3{
	margin: 0 auto;
	width: 200px;
}


.wrap4{
	margin: 0 auto;
	width: 200px;
}


.step_cells{
	-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
	color:#ccc;
	background: #ccc;
	opacity: 0.7;
	border: 2px solid;
	float: left;
	width: 70px;
	height: 70px;
}

.box{
	padding-bottom: 100%;
}

.step_cells:hover{
	opacity: 1;
		-moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;
}

.step_cells1{
	width: 50px;
	height: 50px;
	border: 2px solid;

}

.big_block{
	float: left;
	width: 300px;
	height: 300px;

}

.home1{
	position: absolute;
	bottom: 0;
	right: 0;
}

.home3{
	position: absolute;
	right: 0;

}

.home2{
	position: absolute;
	bottom: 0;
}

.clear{
	clear: both;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;

}

.no-gutter{
	border: 50px solid;
	width: 870px;
}

.block_bottom{
	width: 500px;
	height: 700px;
}

.block-middle{
	width: 264px;
}

.block-top{
	position: relative;
	width: 210px;
}

.block-top-extreme{
	position: relative;
	width: 280px;
}

.wrapper {
	width: 80px;
	margin: 0 auto;
	justify-content: space-between;
}

.column {
	align-items: center;
}

#status {
	color: red;
	left: 100%;
	margin: 0;
	text-align: center;
}

.dice {
	width: 65px;
	background-color: lightcoral;
	border: 1px solid black;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	margin: 5px;
	border-radius: 5px;
}

.dice-roll {
	cursor: pointer;
	text-transform: capitalize;
}